.traffic-light {
    display: flex;
    flex-direction: column;
}

.traffic-light .bulb {
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    opacity: 0.2;
}

.traffic-light .bulb.active {
    opacity: 1;
}

.traffic-light .bulb.red {
    background-color: red;
}

.traffic-light .bulb.yellow {
    background-color: yellow;
}

.traffic-light .bulb.green {
    background-color: green;
}